			<section id="sidebar-about" class="well">
              <img src="{{site.baseurl}}/assets/images/kleint.png" >
              <hr>
              <!--<h3 class="mini-icon">About me</h3>-->
              	<!--<div class="thumbnail">-->
              <ul>                
<li>I'm a professor at Heilbronn, where I <a href="/teaching/index.html">teach</a> quantitative methods and digital economy.</li>
<li>I'm also an economist at ZEW, where I coordinate <a href="http://www.zew.de/en/forschung/marktdesign/forschungsschwerpunkte/design-von-matching-maerkten/">projects</a> on matching markets. </li>
<li>In my <a href="/research/index.html">research</a>, I develop and analyse <a href="/research/software/index.html">algorithms</a> for matching platforms. </li>
              </ul>
              	<!--</div>-->
			</section>
