			<section id="sidebar-about" class="well">
              <img src="{{site.baseurl}}/assets/images/kleint.png" >
              <hr>
              <!--<h3 class="mini-icon">About me</h3>-->
              	<!--<div class="thumbnail">-->
              <ul>                
<li>I'm a <a href="https://www.hs-pforzheim.de/en/profile/thiloklein">professor</a> at Pforzheim University, where I <a href="/teaching/index.html">teach</a> quantitative economics.</li>
<li>I'm also an <a href="https://www.zew.de/en/team/tkn/">economist</a> at ZEW, where I lead <a href="/research/index.html">research</a> and policy <a href="/research/beratung/index.html">projects</a> on matching markets. </li>
<li>As a <a href="https://matchingtools.de">co-founder</a> at MatchingTools, I build software solutions around matching <a href="/research/software/index.html">algorithms</a>. </li>
              </ul>
              	<!--</div>-->
			</section>
