			<section id="sidebar-about" class="well">
              <img src="{{site.baseurl}}/assets/images/kleint.png" >
              <hr>
              <!--<h3 class="mini-icon">About me</h3>-->
              	<!--<div class="thumbnail">-->
              <ul>                
                <li>I'm an economist at ZEW, where I head the Research Area <a href="http://www.zew.de/en/forschung/marktdesign/forschungsschwerpunkte/design-von-matching-maerkten/">Design of Matching Markets</a>. </li>
<li>I did my PhD at Cambridge, where I <a href="/teaching/index.html">lectured</a> in game theory and econometrics. </li>
<li>In my <a href="/research/index.html">research</a>, I develop new <a href="/research/software/index.html">algorithms</a> to inform the design of market rules and institutions.</li>
              </ul>
              	<!--</div>-->
			</section>
